In [ ]:
pip install deepctr-torch

In [ ]:
pip install pandas

In [ ]:
conda install -c conda-forge ipywidgets

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.9f}'.format

In [2]:
rs_table = pd.read_csv(r'E:\VOD추천 프로젝트 데이터\DATA\12.18\DeepFM_DataSet_Basic_content_id_1218_1551.csv')
rs_table

,subsr,content_id,ct_cl,genre_of_ct_cl,template_A_TopGroup,template_B_TopGroup,template_C_TopGroup
0,65941000,id_0,영화,멜로,"Occult, Psychological thriller","Action comedy, Action drama, Action thriller, ...",NaN
1,65941000,id_1,영화,액션/어드벤쳐,"Action comedy, Action crime, Action drama, Act...","Adventure, Military Action, Action crime, Acti...","Military Action, Slasher"
2,65941000,id_2,영화,애니메이션,Occult,Martial Arts,Martial Arts
3,65941000,id_3,영화,드라마,"Action comedy, Romantic comedy","Action comedy, Action crime, Action drama, Act...",NaN
4,65941000,id_4,영화,애니메이션,"Folk Horror, Occult, Psychological thriller, M...","Adventure, Action crime, Action drama, Action ...",Historical romance
...,...,...,...,...,...,...,...
2773225,65198000,id_5713,TV드라마,기타,"Adventure, Video game movies, Action comedy, A...","Action comedy, Action crime, Action crime, Act...","Action crime, Legal drama"
2773226,65198000,id_5714,TV드라마,기타,"Adventure, Video game movies, Action comedy, A...","Action comedy, Action crime, Action crime, Act...","Action crime, Legal drama"
2773227,65198000,id_5715,TV드라마,기타,"Adventure, Video game movies, Action comedy, A...","Action comedy, Action crime, Action crime, Act...","Action crime, Legal drama"
2773228,65198000,id_5716,TV드라마,기타,"Adventure, Video game movies, Action comedy, A...","Action comedy, Action crime, Action crime, Act...","Action crime, Legal drama"
2773229,65198000,id_5717,TV드라마,기타,"Adventure, Video game movies, Action comedy, A...","Action comedy, Action crime, Action crime, Act...","Action crime, Legal drama"

In [3]:
train = pd.read_csv(r'E:\VOD추천 프로젝트 데이터\DATA\12.18\DeepFM_DataSet_train.csv')
test = pd.read_csv(r'E:\VOD추천 프로젝트 데이터\DATA\12.18\DeepFM_DataSet_test.csv')

train = train[['subsr','content_id','user_preference','TimeGroup']]
test = test[['subsr','content_id','user_preference','TimeGroup']]

In [4]:
def prcs_make_model_set(rs_table: pd.DataFrame, input_table: pd.DataFrame) -> pd.DataFrame:
    merged_set = pd.merge(left = rs_table, right = input_table, on = ['subsr','content_id'],how='left')
    merged_set.replace({np.NaN:None},inplace=True)

    merged_set['user_preference'] = merged_set['user_preference'].fillna(0)
    merged_set['user_preference'] = merged_set['user_preference'].astype(int)


    return merged_set

In [5]:
train_set = prcs_make_model_set(rs_table = rs_table, input_table = train)
test_set = prcs_make_model_set(rs_table = rs_table, input_table = test)

In [6]:
train

          subsr content_id  user_preference TimeGroup
0      65941000     id_188              100        pm
1      66873000     id_188              100     night
2      66873000     id_188               14     night
3      61689000     id_188              100        pm
4      61619000    id_1758               95        am
...         ...        ...              ...       ...
10652  60169000    id_1158              100     night
10653  66317000    id_3470              100     night
10654  66317000    id_3470               41     night
10655  66900000    id_4062               76        pm
10656  60169000    id_2011               96     night

[10657 rows x 4 columns]

In [7]:

import torch
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from deepctr_torch.inputs import SparseFeat, get_feature_names
from deepctr_torch.models import DeepFM
import numpy as np
import ast

import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

WARNING:tensorflow:From c:\Users\Lee\anaconda3\envs\ModelTrain\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [8]:
args = {
  'threshold':30
  }

In [9]:
# 문자열 -> 리스트 로변경
def String2List_2(df: pd.DataFrame) -> pd.DataFrame :
  template_list = ['template_A_TopGroup','template_B_TopGroup','template_C_TopGroup']
  for template in template_list:
     df[template] = df[template].apply(lambda elm : elm.split(', ') if elm is not None else None)
  
  return df

In [10]:
train_set = String2List_2(train_set)
test_set = String2List_2(test_set)

In [11]:
def prcs_labeling_liked(user_preference: int) -> int:
  return 1 if user_preference >= args['threshold'] else 0

In [12]:
train_set['liked'] = train_set['user_preference'].apply(prcs_labeling_liked)
test_set['liked'] = test_set['user_preference'].apply(prcs_labeling_liked)

In [13]:
from tqdm.notebook import tqdm
tqdm.pandas()

all_genre_list = ['Adventure', 'Disaster', 'Martial Arts', 'Military Action', 'Spy and Espionage',
                  'Superhero', 'Video game movies', 'Action comedy', 'Action crime', 'Action drama',
                  'Action-horror', 'Action thriller', 'Docudrama', 'Melodrama', 'Teen drama', 'Medical drama',
                  'Legal drama', 'Religious drama', 'Sports drama', 'Political drama', 'Anthropological drama',
                  'Philosophical drama', 'Contemporary and urban fantasy', 'Epic Fantasy', 'Fairy Tale', 'Dark Fantasy',
                  'Ghost', 'Zombie', 'Werewolf', 'Vampire', 'Monster', 'Slasher', 'Splatter and Gore', 'Body Horror',
                  'Folk Horror', 'Occult', 'Found Footage', 'Outbreak', 'Historical romance', 'Regency romance', 'Romantic drama',
                  'Romantic comedy', 'Chick Flick', 'Fantasy romance', 'Space Opera or epic sci-fi', 'Utopia', 'Dystopia', 'Contemporary Sci-Fi',
                  'Cyberpunk', 'Steampunk', 'Psychological thriller', 'Mystery', 'Film noir']

def MakeModelDataSet(user: pd.DataFrame) -> pd.DataFrame:

    genre_df = pd.DataFrame(0, index=user.index, columns=all_genre_list)


    templates = user[['template_A_TopGroup', 'template_B_TopGroup', 'template_C_TopGroup']].apply(lambda row: list(set(item for sublist in row.dropna() for item in sublist)), axis=1)

    for genre in tqdm(all_genre_list, desc="Processing genres"):
        genre_df[genre] = templates.apply(lambda x: 1 if genre in x else 0)

    user.drop(columns=['template_A_TopGroup', 'template_B_TopGroup', 'template_C_TopGroup'], inplace=True)

    returned_df = pd.concat([user,genre_df],axis=1)

    return returned_df

In [ ]:
train_set = MakeModelDataSet(train_set)
test_set = MakeModelDataSet(test_set)

In [15]:
train_set.to_csv(r'E:\VOD추천 프로젝트 데이터\DATA\12.18\train_one_hot_enc_1218_1738.csv',index=False)
test_set.to_csv(r'E:\VOD추천 프로젝트 데이터\DATA\12.18\test_one_hot_enc_1218_1738.csv',index=False)

In [22]:
import pandas as pd
import torch
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from deepctr_torch.inputs import SparseFeat, get_feature_names
from deepctr_torch.models import DeepFM


if __name__ == "__main__":

    # 8월 사용자의 전체 데이터 학습
    data = train_set.copy()

    sparse_features = ["subsr","content_id" ,"ct_cl", "genre_of_ct_cl", "TimeGroup"] + all_genre_list

    target = ['liked']

    label_encoders = {}

    for feat in sparse_features:
        lbe = LabelEncoder()
        data[feat] = lbe.fit_transform(data[feat])
        label_encoders[feat] = lbe

    # label인코더 저장
    torch.save(label_encoders,'./label_encoders_1211.pth')

    fixlen_feature_columns = [SparseFeat(feat, data[feat].nunique())
                              for feat in sparse_features]

    linear_feature_columns = fixlen_feature_columns
    dnn_feature_columns = fixlen_feature_columns

    feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

    # train_model_input = {name: data[name][:train_size] for name in feature_names}
    # test_model_input = {name: data[name][train_size:] for name in feature_names}

    train_model_input = {name: data[name] for name in feature_names}

    device = 'cpu'
    use_cuda = True
    if use_cuda and torch.cuda.is_available():
        print('cuda ready...')
        device = 'cuda:0'

In [23]:
model = DeepFM(linear_feature_columns, dnn_feature_columns, task='binary', device=device)
model.compile("adam", "binary_crossentropy", metrics=['accuracy'])

    # Assuming 'liked' is a binary column
history = model.fit(train_model_input, data[target].values, batch_size=256, epochs=1, verbose=2, validation_split=0.2)

cpu
Train on 2222279 samples, validate on 555570 samples, 8681 steps per epoch
Epoch 1/1
276s - loss:  0.0044 - accuracy:  0.9983 - val_accuracy:  0.9999

In [ ]:
torch.save(model,'./DeepFM_epoch_1_1211.h5')

In [ ]:
# # 9월 데이터 중, 8월의 시청 기록이 있는 사용자에 한에서만 맞춤.
# user_08_list = train_set['subsr'].unique().tolist()
# test_data = test_set[test_set['subsr'].isin(user_08_list)]
# test_data.reset_index(drop=True,inplace=True)
# test_model_input = test_data.copy()
# test_model_input.drop(columns=['liked'],inplace=True)

In [24]:
for feat, lbe in label_encoders.items():
    test_set[feat] = lbe.transform(test_set[feat])

In [26]:
  
sparse_features = ["subsr", "content_id","ct_cl", "genre_of_ct_cl","TimeGroup"] + all_genre_list
    # Count #unique features for each sparse field
fixlen_feature_columns = [SparseFeat(feat, data[feat].nunique())
                              for feat in sparse_features]

 # DeepFM linear_feature 설정

linear_feature_columns = fixlen_feature_columns
    # DeepFM dnn_feature 설정
dnn_feature_columns = fixlen_feature_columns


feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

test_model_input = {name: test_set[name] for name in feature_names}

In [33]:
pred_ans = model.predict(test_model_input,batch_size=256)
pred_labels = (pred_ans > 0.5).astype(int)
# accuracy = accuracy_score(test_data[target].values, pred_labels)
# print("Test Accuracy:", round(accuracy, 4))

In [ ]:
# test_set

In [34]:
result_df = test_set[['subsr', 'content_id','liked']].copy()
result_df['predicted_liked'] = pred_labels
result_df['predicted_rate'] = pred_ans
result_df.reset_index(drop=True,inplace=True)
result_df

         subsr  content_id  liked  predicted_liked  predicted_rate
0          329           0      0                0    1.862956e-10
1          329           1      0                0    1.736957e-09
2          329        1112      0                0    2.076543e-09
3          329        2223      0                0    7.471627e-10
4          329        3334      0                0    9.611985e-10
...        ...         ...    ...              ...             ...
2775023    251        5239      0                0    1.916313e-09
2775024    251        5240      0                0    1.939768e-09
2775025    251        5241      0                0    1.939428e-09
2775026    251        5242      0                0    1.941848e-09
2775027    251        5243      0                0    1.935750e-09

[2775028 rows x 5 columns]

In [51]:
result_df.to_csv('./10월사용자예측값.csv',index=False)

In [56]:
result_df_cp = result_df.copy()
result_df_cp['subsr'] =  result_df_cp['subsr'].apply(lambda elm: label_encoders.get('subsr').inverse_transform([elm])[0])

In [58]:
result_df_cp['content_id'] = result_df_cp['content_id'].apply(lambda elm: label_encoders.get('content_id').inverse_transform([elm])[0])

In [65]:
result_df_cp.drop(columns=['inverse_content_id'],inplace=True)
result_df_cp

            subsr content_id  liked  predicted_liked  predicted_rate
0        65941000       id_0      0                0     0.000000000
1        65941000       id_1      0                0     0.000000002
2        65941000       id_2      0                0     0.000000002
3        65941000       id_3      0                0     0.000000001
4        65941000       id_4      0                0     0.000000001
...           ...        ...    ...              ...             ...
2775023  65198000    id_5713      0                0     0.000000002
2775024  65198000    id_5714      0                0     0.000000002
2775025  65198000    id_5715      0                0     0.000000002
2775026  65198000    id_5716      0                0     0.000000002
2775027  65198000    id_5717      0                0     0.000000002

[2775028 rows x 5 columns]

In [70]:
result_dict = (
    result_df_cp.groupby('subsr')
    .apply(lambda x: {x.iloc[0]['subsr']: {row['content_id']: row['predicted_rate'] for _, row in x.iterrows()}})
    .tolist()
)

In [79]:
for subdict in result_dict:
    for key2,subdict2 in subdict.items():
        result_dic ={}
        acc_dict = {}        
        # dict_a =  value_3
        # dict_b = key_table
        for key3, value3 in subdict2.items():
            for key_b, value_b in key_table.items():
                if key_b in value3:
                    result_dic[value_b] = result_dict.get(value_b,0) + value3[key_b]
                    acc_dict[key_b] = value3[key_b]


            #    if key3 in key_table:
            #         result_dic[value3] = result_dic.get(value3,0) +

TypeError: argument of type 'float' is not iterable

In [77]:
'id_0' in key_table

True

In [64]:
key_table = pd.read_pickle(r'C:\Users\USER\Desktop\DeepFM\key_table_dic.pickle')
key_table

{'id_0': 'uq_0',
 'id_1': 'uq_1',
 'id_2': 'uq_2',
 'id_3': 'uq_3',
 'id_4': 'uq_4',
 'id_5': 'uq_5',
 'id_6': 'uq_6',
 'id_7': 'uq_7',
 'id_8': 'uq_8',
 'id_9': 'uq_9',
 'id_10': 'uq_9',
 'id_11': 'uq_10',
 'id_12': 'uq_11',
 'id_13': 'uq_12',
 'id_14': 'uq_13',
 'id_15': 'uq_14',
 'id_16': 'uq_15',
 'id_17': 'uq_16',
 'id_18': 'uq_17',
 'id_19': 'uq_18',
 'id_20': 'uq_19',
 'id_21': 'uq_20',
 'id_22': 'uq_21',
 'id_23': 'uq_22',
 'id_24': 'uq_23',
 'id_25': 'uq_24',
 'id_26': 'uq_25',
 'id_27': 'uq_26',
 'id_28': 'uq_27',
 'id_29': 'uq_28',
 'id_30': 'uq_29',
 'id_31': 'uq_30',
 'id_32': 'uq_31',
 'id_33': 'uq_32',
 'id_34': 'uq_33',
 'id_35': 'uq_34',
 'id_36': 'uq_35',
 'id_37': 'uq_36',
 'id_38': 'uq_37',
 'id_39': 'uq_38',
 'id_40': 'uq_39',
 'id_41': 'uq_40',
 'id_42': 'uq_41',
 'id_43': 'uq_42',
 'id_44': 'uq_43',
 'id_45': 'uq_44',
 'id_46': 'uq_45',
 'id_47': 'uq_46',
 'id_48': 'uq_47',
 'id_49': 'uq_48',
 'id_50': 'uq_49',
 'id_51': 'uq_50',
 'id_52': 'uq_51',
 'id_53': 'uq_52',
 'id_54': 'uq_53',
 'id_55': 'uq_54',
 'id_56': 'uq_55',
 'id_57': 'uq_56',
 'id_58': 'uq_57',
 'id_59': 'uq_57',
 'id_60': 'uq_58',
 'id_61': 'uq_59',
 'id_62': 'uq_59',
 'id_63': 'uq_59',
 'id_64': 'uq_59',
 'id_65': 'uq_59',
 'id_66': 'uq_59',
 'id_67': 'uq_59',
 'id_68': 'uq_59',
 'id_69': 'uq_59',
 'id_70': 'uq_59',
 'id_71': 'uq_59',
 'id_72': 'uq_59',
 'id_73': 'uq_59',
 'id_74': 'uq_59',
 'id_75': 'uq_59',
 'id_76': 'uq_59',
 'id_77': 'uq_60',
 'id_78': 'uq_60',
 'id_79': 'uq_60',
 'id_80': 'uq_60',
 'id_81': 'uq_60',
 'id_82': 'uq_60',
 'id_83': 'uq_60',
 'id_84': 'uq_60',
 'id_85': 'uq_60',
 'id_86': 'uq_60',
 'id_87': 'uq_60',
 'id_88': 'uq_60',
 'id_89': 'uq_60',
 'id_90': 'uq_60',
 'id_91': 'uq_60',
 'id_92': 'uq_60',
 'id_93': 'uq_60',
 'id_94': 'uq_60',
 'id_95': 'uq_60',
 'id_96': 'uq_60',
 'id_97': 'uq_60',
 'id_98': 'uq_60',
 'id_99': 'uq_60',
 'id_100': 'uq_60',
 'id_101': 'uq_60',
 'id_102': 'uq_60',
 'id_103': 'uq_60',
 'id_104': 'uq_60',
 'id_105': 'uq_60',
 'id_106': 'uq_60',
 'id_107': 'uq_60',
 'id_108': 'uq_60',
 'id_109': 'uq_60',
 'id_110': 'uq_60',
 'id_111': 'uq_60',
 'id_112': 'uq_60',
 'id_113': 'uq_60',
 'id_114': 'uq_60',
 'id_115': 'uq_60',
 'id_116': 'uq_60',
 'id_117': 'uq_60',
 'id_118': 'uq_60',
 'id_119': 'uq_60',
 'id_120': 'uq_60',
 'id_121': 'uq_60',
 'id_122': 'uq_60',
 'id_123': 'uq_60',
 'id_124': 'uq_60',
 'id_125': 'uq_60',
 'id_126': 'uq_60',
 'id_127': 'uq_60',
 'id_128': 'uq_61',
 'id_129': 'uq_61',
 'id_130': 'uq_61',
 'id_131': 'uq_61',
 'id_132': 'uq_61',
 'id_133': 'uq_61',
 'id_134': 'uq_61',
 'id_135': 'uq_61',
 'id_136': 'uq_61',
 'id_137': 'uq_61',
 'id_138': 'uq_61',
 'id_139': 'uq_61',
 'id_140': 'uq_61',
 'id_141': 'uq_61',
 'id_142': 'uq_61',
 'id_143': 'uq_61',
 'id_144': 'uq_61',
 'id_145': 'uq_61',
 'id_146': 'uq_61',
 'id_147': 'uq_61',
 'id_148': 'uq_61',
 'id_149': 'uq_61',
 'id_150': 'uq_61',
 'id_151': 'uq_61',
 'id_152': 'uq_62',
 'id_153': 'uq_62',
 'id_154': 'uq_63',
 'id_155': 'uq_63',
 'id_156': 'uq_63',
 'id_157': 'uq_63',
 'id_158': 'uq_63',
 'id_159': 'uq_63',
 'id_160': 'uq_63',
 'id_161': 'uq_63',
 'id_162': 'uq_63',
 'id_163': 'uq_63',
 'id_164': 'uq_63',
 'id_165': 'uq_63',
 'id_166': 'uq_63',
 'id_167': 'uq_63',
 'id_168': 'uq_63',
 'id_169': 'uq_63',
 'id_170': 'uq_63',
 'id_171': 'uq_63',
 'id_172': 'uq_63',
 'id_173': 'uq_64',
 'id_174': 'uq_64',
 'id_175': 'uq_64',
 'id_176': 'uq_64',
 'id_177': 'uq_64',
 'id_178': 'uq_64',
 'id_179': 'uq_64',
 'id_180': 'uq_64',
 'id_181': 'uq_64',
 'id_182': 'uq_64',
 'id_183': 'uq_64',
 'id_184': 'uq_64',
 'id_185': 'uq_64',
 'id_186': 'uq_64',
 'id_187': 'uq_64',
 'id_188': 'uq_64',
 'id_189': 'uq_64',
 'id_190': 'uq_64',
 'id_191': 'uq_64',
 'id_192': 'uq_64',
 'id_193': 'uq_64',
 'id_194': 'uq_64',
 'id_195': 'uq_64',
 'id_196': 'uq_64',
 'id_197': 'uq_64',
 'id_198': 'uq_64',
 'id_199': 'uq_64',
 'id_200': 'uq_64',
 'id_201': 'uq_65',
 'id_202': 'uq_65',
 'id_203': 'uq_65',
 'id_204': 'uq_65',
 'id_205': 'uq_65',
 'id_206': 'uq_65',
 'id_207': 'uq_65',
 'id_208': 'uq_65',
 'id_209': 'uq_65',
 'id_210': 'uq_65',
 'id_211': 'uq_65',
 'id_212': 'uq_65',
 'id_213': 'uq_65',
 'id_214': 'uq_65',
 'id_215': 'uq_65',
 'id_216': 'uq_65',
 'id_217': 'uq_65',
 'id_218': 'uq_65',
 'id_219': 'uq_65',
 'id_220': 'uq_65',
 'id_221': 'uq_65',
 'id_222': 'uq_65',
 'id_223': 'uq_65',
 'id_224': 'uq_65',
 'id_225': 'uq_65',
 'id_226': 'uq_65',
 'id_227': 'uq_65',
 'id_228': 'uq_66',
 'id_229': 'uq_66',
 'id_230': 'uq_66',
 'id_231': 'uq_67',
 'id_232': 'uq_67',
 'id_233': 'uq_67',
 'id_234': 'uq_67',
 'id_235': 'uq_67',
 'id_236': 'uq_67',
 'id_237': 'uq_67',
 'id_238': 'uq_67',
 'id_239': 'uq_68',
 'id_240': 'uq_68',
 'id_241': 'uq_68',
 'id_242': 'uq_68',
 'id_243': 'uq_68',
 'id_244': 'uq_68',
 'id_245': 'uq_68',
 'id_246': 'uq_68',
 'id_247': 'uq_68',
 'id_248': 'uq_68',
 'id_249': 'uq_68',
 'id_250': 'uq_68',
 'id_251': 'uq_68',
 'id_252': 'uq_68',
 'id_253': 'uq_68',
 'id_254': 'uq_68',
 'id_255': 'uq_68',
 'id_256': 'uq_68',
 'id_257': 'uq_68',
 'id_258': 'uq_68',
 'id_259': 'uq_68',
 'id_260': 'uq_68',
 'id_261': 'uq_68',
 'id_262': 'uq_68',
 'id_263': 'uq_68',
 'id_264': 'uq_68',
 'id_265': 'uq_68',
 'id_266': 'uq_68',
 'id_267': 'uq_68',
 'id_268': 'uq_68',
 'id_269': 'uq_68',
 'id_270': 'uq_68',
 'id_271': 'uq_68',
 'id_272': 'uq_68',
 'id_273': 'uq_68',
 'id_274': 'uq_68',
 'id_275': 'uq_68',
 'id_276': 'uq_68',
 'id_277': 'uq_68',
 'id_278': 'uq_68',
 'id_279': 'uq_68',
 'id_280': 'uq_68',
 'id_281': 'uq_68',
 'id_282': 'uq_68',
 'id_283': 'uq_68',
 'id_284': 'uq_68',
 'id_285': 'uq_68',
 'id_286': 'uq_68',
 'id_287': 'uq_68',
 'id_288': 'uq_68',
 'id_289': 'uq_68',
 'id_290': 'uq_68',
 'id_291': 'uq_68',
 'id_292': 'uq_68',
 'id_293': 'uq_68',
 'id_294': 'uq_68',
 'id_295': 'uq_68',
 'id_296': 'uq_68',
 'id_297': 'uq_69',
 'id_298': 'uq_69',
 'id_299': 'uq_69',
 'id_300': 'uq_69',
 'id_301': 'uq_70',
 'id_302': 'uq_70',
 'id_303': 'uq_70',
 'id_304': 'uq_70',
 'id_305': 'uq_70',
 'id_306': 'uq_70',
 'id_307': 'uq_70',
 'id_308': 'uq_70',
 'id_309': 'uq_71',
 'id_310': 'uq_71',
 'id_311': 'uq_71',
 'id_312': 'uq_71',
 'id_313': 'uq_71',
 'id_314': 'uq_71',
 'id_315': 'uq_71',
 'id_316': 'uq_71',
 'id_317': 'uq_71',
 'id_318': 'uq_71',
 'id_319': 'uq_71',
 'id_320': 'uq_71',
 'id_321': 'uq_71',
 'id_322': 'uq_71',
 'id_323': 'uq_71',
 'id_324': 'uq_71',
 'id_325': 'uq_71',
 'id_326': 'uq_71',
 'id_327': 'uq_71',
 'id_328': 'uq_72',
 'id_329': 'uq_72',
 'id_330': 'uq_72',
 'id_331': 'uq_72',
 'id_332': 'uq_72',
 'id_333': 'uq_72',
 'id_334': 'uq_72',
 'id_335': 'uq_72',
 'id_336': 'uq_72',
 'id_337': 'uq_72',
 'id_338': 'uq_72',
 'id_339': 'uq_72',
 'id_340': 'uq_72',
 'id_341': 'uq_73',
 'id_342': 'uq_73',
 'id_343': 'uq_73',
 'id_344': 'uq_74',
 'id_345': 'uq_74',
 'id_346': 'uq_74',
 'id_347': 'uq_74',
 'id_348': 'uq_75',
 'id_349': 'uq_76',
 'id_350': 'uq_76',
 'id_351': 'uq_76',
 'id_352': 'uq_77',
 'id_353': 'uq_77',
 'id_354': 'uq_77',
 'id_355': 'uq_77',
 'id_356': 'uq_77',
 'id_357': 'uq_77',
 'id_358': 'uq_77',
 'id_359': 'uq_77',
 'id_360': 'uq_77',
 'id_361': 'uq_77',
 'id_362': 'uq_77',
 'id_363': 'uq_77',
 'id_364': 'uq_77',
 'id_365': 'uq_77',
 'id_366': 'uq_77',
 'id_367': 'uq_77',
 'id_368': 'uq_77',
 'id_369': 'uq_77',
 'id_370': 'uq_77',
 'id_371': 'uq_77',
 'id_372': 'uq_77',
 'id_373': 'uq_77',
 'id_374': 'uq_77',
 'id_375': 'uq_77',
 'id_376': 'uq_77',
 'id_377': 'uq_77',
 'id_378': 'uq_77',
 'id_379': 'uq_77',
 'id_380': 'uq_77',
 'id_381': 'uq_77',
 'id_382': 'uq_77',
 'id_383': 'uq_77',
 'id_384': 'uq_77',
 'id_385': 'uq_77',
 'id_386': 'uq_77',
 'id_387': 'uq_77',
 'id_388': 'uq_77',
 'id_389': 'uq_77',
 'id_390': 'uq_77',
 'id_391': 'uq_77',
 'id_392': 'uq_77',
 'id_393': 'uq_78',
 'id_394': 'uq_78',
 'id_395': 'uq_78',
 'id_396': 'uq_78',
 'id_397': 'uq_78',
 'id_398': 'uq_78',
 'id_399': 'uq_78',
 'id_400': 'uq_78',
 'id_401': 'uq_78',
 'id_402': 'uq_78',
 'id_403': 'uq_78',
 'id_404': 'uq_78',
 'id_405': 'uq_78',
 'id_406': 'uq_79',
 'id_407': 'uq_80',
 'id_408': 'uq_79',
 'id_409': 'uq_79',
 'id_410': 'uq_79',
 'id_411': 'uq_79',
 'id_412': 'uq_80',
 'id_413': 'uq_80',
 'id_414': 'uq_81',
 'id_415': 'uq_81',
 'id_416': 'uq_81',
 'id_417': 'uq_81',
 'id_418': 'uq_81',
 'id_419': 'uq_81',
 'id_420': 'uq_81',
 'id_421': 'uq_82',
 'id_422': 'uq_82',
 'id_423': 'uq_82',
 'id_424': 'uq_82',
 'id_425': 'uq_82',
 'id_426': 'uq_82',
 'id_427': 'uq_82',
 'id_428': 'uq_82',
 'id_429': 'uq_82',
 'id_430': 'uq_82',
 'id_431': 'uq_82',
 'id_432': 'uq_82',
 'id_433': 'uq_82',
 'id_434': 'uq_82',
 'id_435': 'uq_82',
 'id_436': 'uq_82',
 'id_437': 'uq_82',
 'id_438': 'uq_82',
 'id_439': 'uq_82',
 'id_440': 'uq_82',
 'id_441': 'uq_82',
 'id_442': 'uq_82',
 'id_443': 'uq_82',
 'id_444': 'uq_82',
 'id_445': 'uq_82',
 'id_446': 'uq_82',
 'id_447': 'uq_82',
 'id_448': 'uq_82',
 'id_449': 'uq_82',
 'id_450': 'uq_82',
 'id_451': 'uq_82',
 'id_452': 'uq_82',
 'id_453': 'uq_82',
 'id_454': 'uq_82',
 'id_455': 'uq_82',
 'id_456': 'uq_82',
 'id_457': 'uq_82',
 'id_458': 'uq_82',
 'id_459': 'uq_82',
 'id_460': 'uq_82',
 'id_461': 'uq_82',
 'id_462': 'uq_82',
 'id_463': 'uq_82',
 'id_464': 'uq_82',
 'id_465': 'uq_82',
 'id_466': 'uq_82',
 'id_467': 'uq_82',
 'id_468': 'uq_82',
 'id_469': 'uq_82',
 'id_470': 'uq_82',
 'id_471': 'uq_82',
 'id_472': 'uq_82',
 'id_473': 'uq_82',
 'id_474': 'uq_82',
 'id_475': 'uq_82',
 'id_476': 'uq_82',
 'id_477': 'uq_82',
 'id_478': 'uq_82',
 'id_479': 'uq_82',
 'id_480': 'uq_82',
 'id_481': 'uq_82',
 'id_482': 'uq_82',
 'id_483': 'uq_82',
 'id_484': 'uq_82',
 'id_485': 'uq_82',
 'id_486': 'uq_82',
 'id_487': 'uq_82',
 'id_488': 'uq_82',
 'id_489': 'uq_83',
 'id_490': 'uq_84',
 'id_491': 'uq_84',
 'id_492': 'uq_84',
 'id_493': 'uq_84',
 'id_494': 'uq_84',
 'id_495': 'uq_84',
 'id_496': 'uq_84',
 'id_497': 'uq_84',
 'id_498': 'uq_83',
 'id_499': 'uq_83',
 'id_500': 'uq_85',
 'id_501': 'uq_85',
 'id_502': 'uq_85',
 'id_503': 'uq_85',
 'id_504': 'uq_85',
 'id_505': 'uq_85',
 'id_506': 'uq_85',
 'id_507': 'uq_85',
 'id_508': 'uq_85',
 'id_509': 'uq_85',
 'id_510': 'uq_86',
 'id_511': 'uq_87',
 'id_512': 'uq_87',
 'id_513': 'uq_87',
 'id_514': 'uq_87',
 'id_515': 'uq_87',
 'id_516': 'uq_87',
 'id_517': 'uq_87',
 'id_518': 'uq_87',
 'id_519': 'uq_87',
 'id_520': 'uq_87',
 'id_521': 'uq_87',
 'id_522': 'uq_87',
 'id_523': 'uq_87',
 'id_524': 'uq_87',
 'id_525': 'uq_88',
 'id_526': 'uq_88',
 'id_527': 'uq_88',
 'id_528': 'uq_88',
 'id_529': 'uq_88',
 'id_530': 'uq_88',
 'id_531': 'uq_88',
 'id_532': 'uq_88',
 'id_533': 'uq_88',
 'id_534': 'uq_88',
 'id_535': 'uq_89',
 'id_536': 'uq_90',
 'id_537': 'uq_91',
 'id_538': 'uq_92',
 'id_539': 'uq_93',
 'id_540': 'uq_94',
 'id_541': 'uq_95',
 'id_542': 'uq_96',
 'id_543': 'uq_97',
 'id_544': 'uq_98',
 'id_545': 'uq_99',
 'id_546': 'uq_100',
 'id_547': 'uq_101',
 'id_548': 'uq_102',
 'id_549': 'uq_103',
 'id_550': 'uq_104',
 'id_551': 'uq_105',
 'id_552': 'uq_106',
 'id_553': 'uq_107',
 'id_554': 'uq_108',
 'id_555': 'uq_109',
 'id_556': 'uq_110',
 'id_557': 'uq_111',
 'id_558': 'uq_112',
 'id_559': 'uq_113',
 'id_560': 'uq_114',
 'id_561': 'uq_115',
 'id_562': 'uq_115',
 'id_563': 'uq_115',
 'id_564': 'uq_115',
 'id_565': 'uq_115',
 'id_566': 'uq_115',
 'id_567': 'uq_115',
 'id_568': 'uq_115',
 'id_569': 'uq_116',
 'id_570': 'uq_117',
 'id_571': 'uq_118',
 'id_572': 'uq_119',
 'id_573': 'uq_120',
 'id_574': 'uq_120',
 'id_575': 'uq_120',
 'id_576': 'uq_120',
 'id_577': 'uq_120',
 'id_578': 'uq_120',
 'id_579': 'uq_120',
 'id_580': 'uq_120',
 'id_581': 'uq_120',
 'id_582': 'uq_120',
 'id_583': 'uq_120',
 'id_584': 'uq_120',
 'id_585': 'uq_120',
 'id_586': 'uq_120',
 'id_587': 'uq_120',
 'id_588': 'uq_120',
 'id_589': 'uq_120',
 'id_590': 'uq_120',
 'id_591': 'uq_120',
 'id_592': 'uq_120',
 'id_593': 'uq_120',
 'id_594': 'uq_120',
 'id_595': 'uq_120',
 'id_596': 'uq_120',
 'id_597': 'uq_120',
 'id_598': 'uq_120',
 'id_599': 'uq_120',
 'id_600': 'uq_120',
 'id_601': 'uq_120',
 'id_602': 'uq_120',
 'id_603': 'uq_120',
 'id_604': 'uq_120',
 'id_605': 'uq_120',
 'id_606': 'uq_120',
 'id_607': 'uq_120',
 'id_608': 'uq_120',
 'id_609': 'uq_120',
 'id_610': 'uq_120',
 'id_611': 'uq_120',
 'id_612': 'uq_120',
 'id_613': 'uq_120',
 'id_614': 'uq_120',
 'id_615': 'uq_120',
 'id_616': 'uq_120',
 'id_617': 'uq_121',
 'id_618': 'uq_122',
 'id_619': 'uq_123',
 'id_620': 'uq_124',
 'id_621': 'uq_125',
 'id_622': 'uq_126',
 'id_623': 'uq_127',
 'id_624': 'uq_128',
 'id_625': 'uq_129',
 'id_626': 'uq_130',
 'id_627': 'uq_131',
 'id_628': 'uq_132',
 'id_629': 'uq_133',
 'id_630': 'uq_0',
 'id_631': 'uq_134',
 'id_632': 'uq_135',
 'id_633': 'uq_136',
 'id_634': 'uq_137',
 'id_635': 'uq_138',
 'id_636': 'uq_138',
 'id_637': 'uq_138',
 'id_638': 'uq_138',
 'id_639': 'uq_138',
 'id_640': 'uq_138',
 'id_641': 'uq_138',
 'id_642': 'uq_138',
 'id_643': 'uq_138',
 'id_644': 'uq_138',
 'id_645': 'uq_139',
 'id_646': 'uq_140',
 'id_647': 'uq_141',
 'id_648': 'uq_142',
 'id_649': 'uq_143',
 'id_650': 'uq_144',
 'id_651': 'uq_145',
 'id_652': 'uq_146',
 'id_653': 'uq_147',
 'id_654': 'uq_148',
 'id_655': 'uq_149',
 'id_656': 'uq_150',
 'id_657': 'uq_151',
 'id_658': 'uq_152',
 'id_659': 'uq_153',
 'id_660': 'uq_154',
 'id_661': 'uq_155',
 'id_662': 'uq_156',
 'id_663': 'uq_157',
 'id_664': 'uq_158',
 'id_665': 'uq_159',
 'id_666': 'uq_160',
 'id_667': 'uq_161',
 'id_668': 'uq_162',
 'id_669': 'uq_163',
 'id_670': 'uq_164',
 'id_671': 'uq_165',
 'id_672': 'uq_165',
 'id_673': 'uq_165',
 'id_674': 'uq_166',
 'id_675': 'uq_167',
 'id_676': 'uq_168',
 'id_677': 'uq_169',
 'id_678': 'uq_170',
 'id_679': 'uq_171',
 'id_680': 'uq_172',
 'id_681': 'uq_173',
 'id_682': 'uq_174',
 'id_683': 'uq_175',
 'id_684': 'uq_176',
 'id_685': 'uq_177',
 'id_686': 'uq_178',
 'id_687': 'uq_179',
 'id_688': 'uq_180',
 'id_689': 'uq_181',
 'id_690': 'uq_182',
 'id_691': 'uq_183',
 'id_692': 'uq_184',
 'id_693': 'uq_185',
 'id_694': 'uq_186',
 'id_695': 'uq_187',
 'id_696': 'uq_187',
 'id_697': 'uq_188',
 'id_698': 'uq_189',
 'id_699': 'uq_190',
 'id_700': 'uq_190',
 'id_701': 'uq_191',
 'id_702': 'uq_192',
 'id_703': 'uq_193',
 'id_704': 'uq_193',
 'id_705': 'uq_194',
 'id_706': 'uq_195',
 'id_707': 'uq_196',
 'id_708': 'uq_197',
 'id_709': 'uq_198',
 'id_710': 'uq_199',
 'id_711': 'uq_200',
 'id_712': 'uq_201',
 'id_713': 'uq_201',
 'id_714': 'uq_201',
 'id_715': 'uq_201',
 'id_716': 'uq_201',
 'id_717': 'uq_202',
 'id_718': 'uq_203',
 'id_719': 'uq_203',
 'id_720': 'uq_204',
 'id_721': 'uq_204',
 'id_722': 'uq_204',
 'id_723': 'uq_204',
 'id_724': 'uq_204',
 'id_725': 'uq_205',
 'id_726': 'uq_206',
 'id_727': 'uq_207',
 'id_728': 'uq_208',
 'id_729': 'uq_209',
 'id_730': 'uq_210',
 'id_731': 'uq_211',
 'id_732': 'uq_212',
 'id_733': 'uq_213',
 'id_734': 'uq_214',
 'id_735': 'uq_215',
 'id_736': 'uq_216',
 'id_737': 'uq_217',
 'id_738': 'uq_218',
 'id_739': 'uq_219',
 'id_740': 'uq_220',
 'id_741': 'uq_221',
 'id_742': 'uq_222',
 'id_743': 'uq_223',
 'id_744': 'uq_224',
 'id_745': 'uq_225',
 'id_746': 'uq_226',
 'id_747': 'uq_227',
 'id_748': 'uq_228',
 'id_749': 'uq_228',
 'id_750': 'uq_229',
 'id_751': 'uq_230',
 'id_752': 'uq_231',
 'id_753': 'uq_232',
 'id_754': 'uq_233',
 'id_755': 'uq_234',
 'id_756': 'uq_235',
 'id_757': 'uq_236',
 'id_758': 'uq_237',
 'id_759': 'uq_238',
 'id_760': 'uq_239',
 'id_761': 'uq_239',
 'id_762': 'uq_239',
 'id_763': 'uq_239',
 'id_764': 'uq_239',
 'id_765': 'uq_239',
 'id_766': 'uq_239',
 'id_767': 'uq_239',
 'id_768': 'uq_239',
 'id_769': 'uq_239',
 'id_770': 'uq_239',
 'id_771': 'uq_239',
 'id_772': 'uq_239',
 'id_773': 'uq_239',
 'id_774': 'uq_240',
 'id_775': 'uq_240',
 'id_776': 'uq_240',
 'id_777': 'uq_240',
 'id_778': 'uq_240',
 'id_779': 'uq_240',
 'id_780': 'uq_240',
 'id_781': 'uq_241',
 'id_782': 'uq_242',
 'id_783': 'uq_243',
 'id_784': 'uq_244',
 'id_785': 'uq_244',
 'id_786': 'uq_244',
 'id_787': 'uq_244',
 'id_788': 'uq_244',
 'id_789': 'uq_244',
 'id_790': 'uq_244',
 'id_791': 'uq_244',
 'id_792': 'uq_244',
 'id_793': 'uq_244',
 'id_794': 'uq_244',
 'id_795': 'uq_244',
 'id_796': 'uq_244',
 'id_797': 'uq_245',
 'id_798': 'uq_246',
 'id_799': 'uq_246',
 'id_800': 'uq_246',
 'id_801': 'uq_246',
 'id_802': 'uq_246',
 'id_803': 'uq_246',
 'id_804': 'uq_246',
 'id_805': 'uq_246',
 'id_806': 'uq_246',
 'id_807': 'uq_246',
 'id_808': 'uq_247',
 'id_809': 'uq_248',
 'id_810': 'uq_249',
 'id_811': 'uq_250',
 'id_812': 'uq_251',
 'id_813': 'uq_252',
 'id_814': 'uq_253',
 'id_815': 'uq_254',
 'id_816': 'uq_255',
 'id_817': 'uq_256',
 'id_818': 'uq_257',
 'id_819': 'uq_257',
 'id_820': 'uq_257',
 'id_821': 'uq_257',
 'id_822': 'uq_257',
 'id_823': 'uq_257',
 'id_824': 'uq_257',
 'id_825': 'uq_258',
 'id_826': 'uq_259',
 'id_827': 'uq_260',
 'id_828': 'uq_261',
 'id_829': 'uq_262',
 'id_830': 'uq_254',
 'id_831': 'uq_255',
 'id_832': 'uq_263',
 'id_833': 'uq_264',
 'id_834': 'uq_265',
 'id_835': 'uq_266',
 'id_836': 'uq_267',
 'id_837': 'uq_268',
 'id_838': 'uq_269',
 'id_839': 'uq_270',
 'id_840': 'uq_271',
 'id_841': 'uq_272',
 'id_842': 'uq_273',
 'id_843': 'uq_274',
 'id_844': 'uq_274',
 'id_845': 'uq_274',
 'id_846': 'uq_274',
 'id_847': 'uq_274',
 'id_848': 'uq_275',
 'id_849': 'uq_276',
 'id_850': 'uq_277',
 'id_851': 'uq_278',
 'id_852': 'uq_279',
 'id_853': 'uq_280',
 'id_854': 'uq_281',
 'id_855': 'uq_282',
 'id_856': 'uq_283',
 'id_857': 'uq_284',
 'id_858': 'uq_285',
 'id_859': 'uq_286',
 'id_860': 'uq_287',
 'id_861': 'uq_288',
 'id_862': 'uq_289',
 'id_863': 'uq_290',
 'id_864': 'uq_291',
 'id_865': 'uq_292',
 'id_866': 'uq_293',
 'id_867': 'uq_294',
 'id_868': 'uq_295',
 'id_869': 'uq_296',
 'id_870': 'uq_297',
 'id_871': 'uq_298',
 'id_872': 'uq_299',
 'id_873': 'uq_300',
 'id_874': 'uq_301',
 'id_875': 'uq_302',
 'id_876': 'uq_303',
 'id_877': 'uq_304',
 'id_878': 'uq_259',
 'id_879': 'uq_305',
 'id_880': 'uq_265',
 'id_881': 'uq_306',
 'id_882': 'uq_307',
 'id_883': 'uq_307',
 'id_884': 'uq_308',
 'id_885': 'uq_309',
 'id_886': 'uq_310',
 'id_887': 'uq_310',
 'id_888': 'uq_311',
 'id_889': 'uq_311',
 'id_890': 'uq_312',
 'id_891': 'uq_313',
 'id_892': 'uq_214',
 'id_893': 'uq_314',
 'id_894': 'uq_315',
 'id_895': 'uq_316',
 'id_896': 'uq_316',
 'id_897': 'uq_316',
 'id_898': 'uq_317',
 'id_899': 'uq_318',
 'id_900': 'uq_319',
 'id_901': 'uq_320',
 'id_902': 'uq_321',
 'id_903': 'uq_322',
 'id_904': 'uq_322',
 'id_905': 'uq_322',
 'id_906': 'uq_322',
 'id_907': 'uq_322',
 'id_908': 'uq_322',
 'id_909': 'uq_322',
 'id_910': 'uq_322',
 'id_911': 'uq_322',
 'id_912': 'uq_322',
 'id_913': 'uq_322',
 'id_914': 'uq_322',
 'id_915': 'uq_322',
 'id_916': 'uq_322',
 'id_917': 'uq_322',
 'id_918': 'uq_322',
 'id_919': 'uq_322',
 'id_920': 'uq_322',
 'id_921': 'uq_322',
 'id_922': 'uq_322',
 'id_923': 'uq_322',
 'id_924': 'uq_322',
 'id_925': 'uq_322',
 'id_926': 'uq_322',
 'id_927': 'uq_322',
 'id_928': 'uq_322',
 'id_929': 'uq_322',
 'id_930': 'uq_322',
 'id_931': 'uq_322',
 'id_932': 'uq_322',
 'id_933': 'uq_322',
 'id_934': 'uq_322',
 'id_935': 'uq_323',
 'id_936': 'uq_324',
 'id_937': 'uq_325',
 'id_938': 'uq_326',
 'id_939': 'uq_327',
 'id_940': 'uq_328',
 'id_941': 'uq_329',
 'id_942': 'uq_330',
 'id_943': 'uq_331',
 'id_944': 'uq_332',
 'id_945': 'uq_333',
 'id_946': 'uq_334',
 'id_947': 'uq_335',
 'id_948': 'uq_336',
 'id_949': 'uq_337',
 'id_950': 'uq_337',
 'id_951': 'uq_337',
 'id_952': 'uq_337',
 'id_953': 'uq_337',
 'id_954': 'uq_337',
 'id_955': 'uq_337',
 'id_956': 'uq_337',
 'id_957': 'uq_337',
 'id_958': 'uq_337',
 'id_959': 'uq_337',
 'id_960': 'uq_337',
 'id_961': 'uq_337',
 'id_962': 'uq_337',
 'id_963': 'uq_337',
 'id_964': 'uq_337',
 'id_965': 'uq_337',
 'id_966': 'uq_337',
 'id_967': 'uq_337',
 'id_968': 'uq_338',
 'id_969': 'uq_338',
 'id_970': 'uq_338',
 'id_971': 'uq_339',
 'id_972': 'uq_339',
 'id_973': 'uq_339',
 'id_974': 'uq_340',
 'id_975': 'uq_341',
 'id_976': 'uq_341',
 'id_977': 'uq_341',
 'id_978': 'uq_341',
 'id_979': 'uq_341',
 'id_980': 'uq_341',
 'id_981': 'uq_341',
 'id_982': 'uq_7',
 'id_983': 'uq_342',

In [ ]:
# 6688500

In [46]:
# label_encoders.get('content_id').inverse_transform([251])

array(['id_1223'], dtype=object)

In [36]:
from sklearn.metrics import precision_score

precision_per_user = result_df.groupby('subsr').apply(
    lambda group: precision_score(group['liked'],group['predicted_liked'])
)
overall_precision = precision_per_user.mean()

print('10월 유저별 precision값: ', precision_per_user)
print('10월 전체 사용자에 대한 평균 Precision값: ', overall_precision)

print('갱신됨')

10월 유저별 precision값:  subsr
0      0.000000
1      0.000000
2      0.428571
3      0.000000
4      0.000000
         ...
480    1.000000
481    0.250000
482    0.000000
483    0.000000
484    1.000000
Length: 485, dtype: float64
10월 전체 사용자에 대한 평균 Precision값:  0.2337657146202028
갱신됨